<!DOCTYPE html>
<html>
<head>
    <title>Secret 🌙</title>
    <style>
        body {
            background: black;
            color: white;
            text-align: center;
            font-family: Arial;
            padding-top: 100px;
        }

        button {
            margin-top: 30px;
            padding: 10px 20px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>

<h1>🌙 Night Secret for Deepika</h1>

<p>
Even when the world sleeps,  
my heart stays awake thinking about you.  
You are my moonlight in every dark night ❤️
</p>

<button onclick="location.href='/'">Back Home 🏠</button>

</body>
</html>
